<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Todos los posteos</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Summary</td>
            <td>FechaCreacion</td>
            <td>FechaModificacion</td>
            <td>Modificar</td>
            <td>Eliminar</td>
        </tr>
      <%  posts.forEach((post)=>{ %>
            <tr>
                <td><%= post.id %></td>
                <td><%= post.title %></td>
                <td><%= post.summary %></td>
                <td><%= post.created_at %></td>
                <td><%= post.updated_at %></td>
                <td><a id="btnupdate" href="/posts/update/<%= post.id %>">Modificar</a></td>  
                <td><a id="btndelete" href="/posts/delete/<%= post.id %>">Eliminar</a></td>
            </tr>
      <%  }) %>
    </table>
</body>
</html>