<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Modificar posteo</h1>
    <form action="/posts/update/<%= post[0]['idPost'] %>" method="POST" >
        <label for="Title" >Titulo</label>
        <input type="text" name="Title" id="Title" value="<%= post[0]['Title'] %>" >
        <label for="Summary">Summary</label>
        <textarea type="text" name="Summary" id="Summary" aria-valuetext="<%= post[0]['Summary'] %>"></textarea>
        <label for="Created_at">FechaCreacion</label>
        <input type="date" name="Created_at" id="Created_at" value="<%= post[0]['Created_at'] %>">
        <label for="Update_at">FechaModificacion</label>
        <input type="date" name="Updated_at" id="Updated_at" value="<%= post[0]['Updated_at'] %>">
        <input type="submit" value="Modificar">
    </form></body>
</html>